.play-area {
  flex: 1;
  position: relative;

  &__utils {
    height: 100vh;
    border-right: 1px solid white;
  }
  &__field {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .graveyard {
    position: relative;
  }

  .graveyard__placeholder {
    width: 200px;
    height: 300px;
    border: 1px solid blue;
    border-radius: 10px;
  }

  .Card {
    &.isTapped {
      transform: rotate(90deg);
    }
  }
}
